<ion-content padding>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let slide of slides">
          <ion-icon name="close"></ion-icon>
          <img src="assets/img/logo.png" alt="Platzi Music">
            <h1>{{slide.title}}</h1>
            <h2>{{slide.subtitle}}</h2>
            <p>
              {{slide.description}}
            </p>
            <ion-icon name="{{slide.icon}}"></ion-icon>
        </ion-slide>
      
      
      </ion-slides>
</ion-content>
